<div class="sidebar">
            <ul>
              <li class="listItemB">
                <form>
                  <input type="text" class="filterSearch" placeholder="Search for a Movie:"/>
                </form>
              </li>

                <a routerLink="/dashboard"><li class="listItemA">Dashboard</li></a>

                <a routerLink="/queue"><li class="listItemA">Queue</li></a>

                <a routerLink="/profile"><li class="listItemA">Profile</li></a>

                <a (click)="logout();"><li class="listItemA">Log Out</li></a>
            </ul>
            <!--<info></info>-->

</div>
