h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
  background: rgb(30,87,153); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

#movie-container {
  width: 900px;
  display: block;
  margin-top: 40px;
}

.filterSearch {
  width: 300px;
}

.sidebar {
    position: fixed;
/* Change :absolute; to :fixed; to keep the sidebar in place when scolling. */
/* Sidebar Background */
    width: 240px;
/* Width of side bar. WARNING: If you change this, change .listItemA:width */
    height: 100%;
    padding-top: 10px;
/* Padding above the sidebar image. */
    font-family: helvetica;
    margin-top: -80px;
/* Font for the sidebar (Remove to keep the same font as the rest of the document) */
}

.sidebar a {
    text-decoration: none;
/* Removes the underline from links. */
    color: #e9e7e7;
/* Text color of the menu items */
}

.sidebar ul {
    line-height: 40px;
    overflow: hidden;
    margin-left: 0;
    padding-left: 0;
}

.sidebar ul li {
    list-style-type: none;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;

}

.listItemA {
    height: 60px;
    width: 240px;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
background: rgb(135,224,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
    color: #695D46;
    padding-top: 10px;
}

.listItemA {
    height: 60px;
    width: 280px;
    text-align: center;
    color: black;
}

.listItemA:hover {
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2ebfe+0,90def6+40,4fd0fb+100 */
background: rgb(178,235,254); /* Old browsers */
background: -moz-linear-gradient(top, rgba(178,235,254,1) 0%, rgba(144,222,246,1) 40%, rgba(79,208,251,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(178,235,254,1) 0%,rgba(144,222,246,1) 40%,rgba(79,208,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(178,235,254,1) 0%,rgba(144,222,246,1) 40%,rgba(79,208,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2ebfe', endColorstr='#4fd0fb',GradientType=0 ); /* IE6-9 */
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

#queue {
  width: 900px;
  display: block;
  margin-top: 40px;
}

.movie-tile {
  display: inline-block;
  margin: 5px;
}

.movie-tile:hover {
  cursor: pointer;
}

.info {
  margin-left: 10px;
}

.backup-title {
  position: absolute;
  z-index: 99;
  text-align: center;
  margin-top: 30px;
  width: 200px;
}

.fa-play-circle {
  color: black;
}

.fa-plus-circle {
  color: #33bbff;
}
.fa-minus-circle {
  color: #33bbff;
}

.fa-play-circle:hover {
  color:grey;
  cursor: pointer;
}

.fa-plus-circle:hover {
  color: #35ceba;
  cursor: pointer;
}

.fa-minus-circle:hover {
  color: #35ceba;
  cursor: pointer;
}

.button-class {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-block;
}

.update-inventory {
  margin-left: 300px;
}

.no-results {
  text-align: center;
}

.create-account {
  margin-top: 100px;
}

.login-field {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}

.login-button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}



.db-button {
  color: black !important;
  background-color: #68B6B6;
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.db-button:hover {
  cursor: pointer;
  background-color: #88c9c9;
}

#loading {
  font-size: 20px;
  text-align: center;
}

#wrong-login {
  margin-top: 20px;
  text-align: center;
}

.rt-logo {
  width: 60px;
  height: auto;
}

.rt-score {
  margin-left: 12px;
}

.buttons {
  width: 400px;
}

.sort {
  display: inline-block;
}


.button-component {
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aquamarine;
  text-align: center;
  border-radius: 10px;
}

.button-component:hover {
  cursor: pointer;
  background-color: limegreen;
}

#history-container {
  display: block;
  margin-top: 40px;
}

.history-heading {
  text-align: center;
}

.center-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}

.update-button {
    background: #06d69b; /* Old browsers */
    background: -moz-linear-gradient(top, #06d69b 0%, #2ad8a7 50%, #7ee8c8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #06d69b 0%,#2ad8a7 50%,#7ee8c8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #06d69b 0%,#2ad8a7 50%,#7ee8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06d69b', endColorstr='#7ee8c8',GradientType=0 ); /* IE6-9 */
}


.update-button:hover {
  background: #1df9bb; /* Old browsers */
  background: -moz-linear-gradient(top, #1df9bb 0%, #54e0b8 50%, #97edd3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1df9bb 0%,#54e0b8 50%,#97edd3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1df9bb 0%,#54e0b8 50%,#97edd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1df9bb', endColorstr='#97edd3',GradientType=0 ); /* IE6-9 */
}

.history {
  margin-top: 60px;
}

.movie-tile:hover {
  opacity: 0.8;
}
