<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="../css/global.css" rel="stylesheet" />

  </head>
  <body>
    <h1 id="pagename">Movies</h1>

    <div id="welcome" class="col-md-8 offset-md-3"></div>

    <div class="sidebar">
                <ul>
                  <li class="listItemB"><input type="text" class="filterSearch" id="dashboard-filter"  placeholder="Search for a Movie:"/></li>

                    <a href="dashboard.html"><li class="listItemA">Dashboard</li></a>

                    <a href="queue.html"><li class="listItemA">Queue</li></a>

                    <a href="profile.html"><li class="listItemA">Profile</li></a>
                </ul>

                <div id="info" class="info"></div>
    </div>

    <div class="col-md-6 offset-md-3">
      <select id="genreMenu">
        <option selected="true" disabled="disabled">Genres</option>
        <option value="9999">All</option>
        <option value="28">Action</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="18">Drama</option>
        <option value="10751">Family</option>
        <option value="14">Fantasy</option>
        <option value="27">Horror</option>
        <option value="10749">Romance</option>
        <option value="878">Sci-Fi</option>
        <option value="53">Thriller</option>
        <option value="37">Western</option>
      </select>
    </div>


    <div id="movie-container" class="col-md-8 offset-md-3">
      <h6>Loading</h6s>
    </div>

    <script>
      require('../js/global.js')
      require('../js/dashboard.js')
    </script>
  </body>
</html>
