<div class="col-md-12">
      <h1 class="page-title">Profile</h1>
  <div class="col-md-4">
    <sidebar></sidebar>
  </div>

  <div class="profile-options col-md-8 col-md-offset-3">
    <button (click)="resyncLibrary()" [disabled]="disabled">Re-Sync Library</button>
    <span class="percent">{{percent}}</span>
  </div>

  <div id="movie-container" class="col-md-8 col-md-offset-3">
    <h4 class="subtitle">History</h4>  
    <span *ngIf="loading else load">
      <h6>Loading</h6>
    </span>
    <ng-template #load>
      <ul>
      <li class='movie-tile' *ngFor="let item of history">
        <div attr.rawTitle="{{item.raw_title}}" (click)="getInfo($event)" >
        <img attr.rawTitle="{{item.raw_title}}"  src='http://image.tmdb.org/t/p/w185/{{item.poster_path}}'>
        </div>
      </li>
      </ul>
    </ng-template>
  </div>

</div>
